*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #14213d;
}

header{

    display: flex;
    justify-content: space-between;
   font-size: 25px;
   background-color: #22223b;
   padding: 15px;
   color:#f2e9e4;
    p{
        padding: 10px;
    }
        
    div{
        margin-top: 8px;
        a{
            text-decoration: none;
            color: #f2e9e4;
            border: 2px solid black;
            padding: 10px;
            border-radius: 10px;
        } 
        a:hover{
            border-color: orange;
            transition: 0.5s;
        }
    }
}

#usuario{
    color:#f2e9e4;
}


.card{
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 160px;
     box-shadow:6px 6px 6px 6px black; 
    background-color: #ffcdb2;
    padding: 50px;

    .card-body{
        h2{
            margin-top: 10px;
            margin-bottom: 20px;
        }
        input{
            margin: 10px;
        }
        button{
            margin-top: 20px;
        }
        text-align: center;
        width: 50%;
    }
}
.login{
    .card{
        width: 40%;
        margin-top: 120px;
        padding: 0;
        .card-body{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    margin: 20px;
                    img{
                        margin-top: 30px;
                        height: 70px;
                    }
                }
            }
        }
    }
    .logos{
        ul{
            button{
                margin-left: -25px;
                margin-top: -25px;
                border-radius: 10px;   
                width: 280px;
                height: 50px;
                background-color: #22223b;
                border: none;
                .facebook{
                    width: 70%;
                    padding: 14px;
                    position: relative;
                    top: -40px;
                }
                img{
                    padding: 10px;
                    position: relative;
                    top: -38px;
                }
            }
            button:hover{
                box-shadow: 0px 0px 0px 2px #c77dff;
                transition: 0.5s;
            }
        }

    }
}
.separador{ 
    display: inline-block;
    position: relative;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 25px;
}
.separador::after,.separador::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #22223b;
    top: 0.75em;
}
.separador::before{
    left: -130px;
}
.separador::after{
    right: -130px;
}