<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Log In</title>
</head>
<body>
    <div class="login">
        <div  class="card">
            <div class="card-body">
                <h2 class="card-title">Log In</h2>
                <form action="/registro" method="post">
                    <input type="text" name="nombre" placeholder="nombre..." class="form-control">
                    <input type="email" name="email" placeholder="email..." class="form-control">
                    <input type="password" name="password" placeholder="password.." class="form-control">
                    <button class="btn btn-secondary">Log In</button>
                </form>
                <hr>
                <ul>
                    <li>
                        <a href="/facebook">
                            <img src="../images/facebook.png" alt="facebook.png">
                        </a>
                    </li>
                    <li>
                        <a href="/twitter">
                            <img src="../images//twitter.png" alt="twitter.png">
                        </a>
                    </li>
                </ul>
            </div>
    </div>
</body>
</html>